.grid-container{
background-color: beige;
 max-width: 900px;
margin:  0 auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

padding: 20px;

}
.grid-container > div {
    background-color: #ccc;
    text-align: center;
    padding: 20px;
    border: 1px solid;
}
  

